################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Output
/.vs
/packages
/Publish-*
**/[b|B]in
**/obj